Program 1
Create a Classification Dataset using Dictionary and Convert it into Pandas DataFrame

Objective: To understand how raw data can be created manually and converted into a structured tabular format using Pandas.

Step-by-Step Explanation:-
1. Import the Pandas library.
2. Create a Python dictionary with 5 rows and 4 columns.
3. Convert the dictionary into a Pandas DataFrame.
4. Display the dataset.

In [ ]:
# import pandas library
import pandas as pd 
# Create dictionary data
data ={
    'Age': [22, 25, 47, 52, 46],
    'Salary': [25000, 32000, 60000, 80000, 65000],
    'Experience': [1, 2, 10, 15, 9],
    'Class': ['No', 'No', 'Yes', 'Yes', 'Yes']
}
# convert dictionary to dataframe
df =pd.DataFrame(data)
#display dataset
print(df)
# display dataset directly
df

   Age  Salary  Experience Class
0   22   25000           1    No
1   25   32000           2    No
2   47   60000          10   Yes
3   52   80000          15   Yes
4   46   65000           9   Yes

   Age  Salary  Experience Class
0   22   25000           1    No
1   25   32000           2    No
2   47   60000          10   Yes
3   52   80000          15   Yes
4   46   65000           9   Yes