Program 4
Load JSON Data from Web and Convert it into Tabular Format

Objective: To understand how JSON data can be converted into structured tabular data.

Step-by-Step Explanation

Import Pandas library.
Provide the JSON URL.
Load JSON data directly from the web.
Convert JSON into Pandas DataFrame.
Display the table.

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Load dataset
df = pd.read_csv("Heart.csv")
df

     Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0             1   63    1       typical  ...      3  0.0       fixed   No
1             2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2             3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3             4   37    1    nonanginal  ...      3  0.0      normal   No
4             5   41    0    nontypical  ...      1  0.0      normal   No
..          ...  ...  ...           ...  ...    ...  ...         ...  ...
298         299   45    1       typical  ...      2  0.0  reversable  Yes
299         300   68    1  asymptomatic  ...      2  2.0  reversable  Yes
300         301   57    1  asymptomatic  ...      2  1.0  reversable  Yes
301         302   57    0    nontypical  ...      2  1.0      normal  Yes
302         303   38    1    nonanginal  ...      1  NaN      normal   No

[303 rows x 15 columns]

In [8]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

     Age  Sex     ChestPain  RestBP  Chol  ...  Oldpeak  Slope   Ca        Thal  AHD
0     63    1       typical     145   233  ...      2.3      3  0.0       fixed   No
1     67    1  asymptomatic     160   286  ...      1.5      2  3.0      normal  Yes
2     67    1  asymptomatic     120   229  ...      2.6      2  2.0  reversable  Yes
3     37    1    nonanginal     130   250  ...      3.5      3  0.0      normal   No
4     41    0    nontypical     130   204  ...      1.4      1  0.0      normal   No
..   ...  ...           ...     ...   ...  ...      ...    ...  ...         ...  ...
298   45    1       typical     110   264  ...      1.2      2  0.0  reversable  Yes
299   68    1  asymptomatic     144   193  ...      3.4      2  2.0  reversable  Yes
300   57    1  asymptomatic     130   131  ...      1.2      2  1.0  reversable  Yes
301   57    0    nontypical     130   236  ...      0.0      2  1.0      normal  Yes
302   38    1    nonanginal     138   175  ...      0.0      1  NaN      normal   No

[303 rows x 14 columns]

In [9]:
# Check missing values
print("Missing values:")
print(df.isnull().sum())

Missing values:
Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [10]:
# Handle missing values
df.fillna(df.mean(numeric_only=True), inplace=True)
print(df.isnull().sum())

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         2
AHD          0
dtype: int64

In [11]:
# Encode categorical columns
encoder = LabelEncoder()
categorical_cols = ['Sex', 'ChestPain', 'RestECG', 'Slope', 'Thal', 'AHD']

In [12]:
for col in categorical_cols:
    df[col] = encoder.fit_transform(df[col])

In [13]:
df

     Age  Sex  ChestPain  RestBP  Chol  ...  Oldpeak  Slope        Ca  Thal  AHD
0     63    1          3     145   233  ...      2.3      2  0.000000     0    0
1     67    1          0     160   286  ...      1.5      1  3.000000     1    1
2     67    1          0     120   229  ...      2.6      1  2.000000     2    1
3     37    1          1     130   250  ...      3.5      2  0.000000     1    0
4     41    0          2     130   204  ...      1.4      0  0.000000     1    0
..   ...  ...        ...     ...   ...  ...      ...    ...       ...   ...  ...
298   45    1          3     110   264  ...      1.2      1  0.000000     2    1
299   68    1          0     144   193  ...      3.4      1  2.000000     2    1
300   57    1          0     130   131  ...      1.2      1  1.000000     2    1
301   57    0          2     130   236  ...      0.0      1  1.000000     1    1
302   38    1          1     138   175  ...      0.0      0  0.672241     1    0

[303 rows x 14 columns]

In [14]:
# Normalize numerical columns
scaler = StandardScaler()
numerical_cols = ['Age', 'RestBP', 'Chol', 'MaxHR', 'Oldpeak', 'Ca']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [15]:
df

          Age  Sex  ChestPain    RestBP  ...  Slope        Ca  Thal  AHD
0    0.948726    1          3  0.757525  ...      2 -0.723095     0    0
1    1.392002    1          0  1.611220  ...      1  2.503851     1    1
2    1.392002    1          0 -0.665300  ...      1  1.428203     2    1
3   -1.932564    1          1 -0.096170  ...      2 -0.723095     1    0
4   -1.489288    0          2 -0.096170  ...      0 -0.723095     1    0
..        ...  ...        ...       ...  ...    ...       ...   ...  ...
298 -1.046013    1          3 -1.234430  ...      1 -0.723095     2    1
299  1.502821    1          0  0.700612  ...      1  1.428203     2    1
300  0.283813    1          0 -0.096170  ...      1  0.352554     2    1
301  0.283813    0          2 -0.096170  ...      1  0.352554     1    1
302 -1.821745    1          1  0.359134  ...      0  0.000000     1    0

[303 rows x 14 columns]